# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven
/target/
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.entries
pom.xml.bak
build/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Docker
*.dockerignore
*.swp